<head>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

</head>
<body>
  <div>
<form class="example" action="/action_page.php" style="margin:auto;max-width:500px">
    <input type="text" placeholder="Search.." name="search2">
    <button type="submit" >SEARCH</button>
  </form>
</div>

<div id="main"> 
  <div  >
  <image class="resolutions"   src='/image/veg.jpg'>
   
</div>
<div >
  <image class="resolutions"  src='/image/non-veg.jpg'>
</div>  
</div>
</body>
  