<title><%= title %></title>

<head><link rel="stylesheet" href="/css/layout.css" >
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet"></head>
<div class="header">
  <%= title %>
</div>


<nav class="topna">
    <div>
        <ul>
            <li><a href="/homepage">HOMEPAGE</a></li>
            <li><a href="/routes/logout">LOGOUT</a></li>
            <li><a href="/api/user/cart">CART</a></li>
            <li><a href="/customer/view/orderStatus">ORDERS</a></li>
          </ul>
    </div>
</nav>
<%- body %>
<footer  class="footer" >

<h4 class="h4" >Author:Tushar Grover<br></h4>   
<img class="gmailImg" src="/image/gmail.png"> :grow393@gmail.com
</footer>