<head><link rel="stylesheet" href="/css/layout.css" >
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet"></head>
<div class="header">
    FOOD DELIVERY APP
</div>


<nav class="topna">
    <div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
          </ul>
    </div>
</nav>
<%-body %>
<footer class="footer" >
grow393@gmail.com
</footer>