* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    font-family:  'Itim', cursive;;
    border-radius: 25px;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 25px;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
.foodChoices{
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 25px;
  
  
}

.foodChoices:hover{
  background: #0b7dda;

}
 
.mexican{
  width: 25%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 25px;
}
  
  /* Create four equal columns that sits next to each other */
  #main {
  margin: 27px;
    border: 1px solid black;
    display: inline-flex;
  }
  
  #main div {
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
    width: 50%;
    height: auto;
  }
  .resolutions{
    border: 15px solid #ddd;
    border-radius:  25px; ;
    width: 100% ;
    height: auto;
    margin-right: 5px;
  }