.header{
font-family: 'Krona One', sans-serif;
padding: 30px;
text-align: center;
background: #1abc9c;
color: white;
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin-top: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.footer{
background-color: grey;
width: 100%;
height: auto;
}